.face-image{
    width:32px;
    height:32px;
    border-radius: 50%;
}

div.ui-container{
    position:relative;
    width:100%;
    height:32px;
    background-color:gray;
}

span.span-face{
    position:absolute;
    top: 0px;
}

hr.ui-line{
    position:relative;
    top: 16px;
    border: none;
    background-color: #ff0000;
}

hr {
    height: 1px;
    background-color: #ff0000;
    color: #ff0000;
}

span.group-name{
    border-radius: 5px;
    background-color: yellow;
}