/* bootstrap */
.navbar { margin : 0 !important; }

img.movie_thumbnail{
    width:105%;
}

.movie_title{
    font-size: large;
}

.bg-black{
    background-color:black;
}

.bg-color-0{
    background-color: #FCFBE3;
}

.bg-color-1{
    background-color: #FBCFCF;
}

.bg-color-2{
    background-color: #CDBB99;
}

.left-column{
    float: left;
}

.ranking-item{
    font-size: 300%;
}

.idol_ranking{
    background-color:red;
    height:50%;
}