img.movie_thumbnail{
    width:100%;
}

span.movie_info{
    width:50%;
    background-color: red;
}

.row{
    margin: 1px;
}

.movie_title{
    font-size: large;
}

.gray-bg{
    background-color: lightgray;
}